* {
    /* reset do css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
}

header {
    background-image: url(./imagens/bg-mobile.png);
    background-size: cover;
}